<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Show Recipe</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous"
          th:href="@{/webjars/bootstrap/4.0.0/css/bootstrap.min.css}">

    <script th:src="@{/webjars/jquery/3.0.0/jquery.min.js}"></script>

    <!--
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"
            th:src="@{/webjars/bootstrap/4.0.0/js/bootstrap.min.js}"></script>
</head>
<body>
<!--/*@thymesVar id="recipe" type="rfl.spring.recipe.domain.Recipe"*/-->
<div class="container-fluid" style="margin-top: 20px">
    <div class="row">
        <div class="col-md-9 mx-auto">
            <div class="card border-primary card-primary mb-3">
                <h1 class="card-header text-white bg-primary" th:text="${recipe.getDescription()}">Recipe description</h1>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-3">
                            Categories
                        </div>
                        <div class="col-md-9">
                            <ul>
                                <li th:remove="all">cat one</li>
                                <li th:remove="all">cat two</li>
                                <li th:each="category: ${recipe.getCategories()}" th:text="${category.getDescription()}">cat three</li>
                            </ul>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <h6>Prep time</h6>
                        </div>
                        <div class="col-md-3">
                            <p th:text="${(recipe.prepTime) + ' Min'}">30 min</p>
                        </div>
                        <div class="col-md-3">
                            <h6>Difficulty</h6>
                        </div>
                        <div class="col-md-3">
                            <p th:text="${recipe.difficulty}">Easy</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <h6>Cook time</h6>
                        </div>
                        <div class="col-md-3">
                            <p th:text="${(recipe.cookTime) + ' Min'}">40 min</p>
                        </div>
                        <div class="col-md-3">
                            <h6>Servings</h6>
                        </div>
                        <div class="col-md-3">
                            <p th:text="${recipe.servings}">4</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <h6>Source:</h6>
                        </div>
                        <div class="col-md-9">
                            <p th:text="${recipe.source}">Good Food</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <h6>URL</h6>
                        </div>
                        <div class="col-md-9">
                            <p><a href="#" th:text="${recipe.url}">http://www.cooking.com</a></p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card border-primary mb-3">
                <h6 class="card-header text-white bg-primary">Ingredients</h6>
                <div class="card-body">
                    <ul class="list-group">
                        <li class="list-group-item" th:remove="all">Ingredient 1</li>
                        <li class="list-group-item" th:remove="all">Ingredient 2</li>
                        <li class="list-group-item" th:each="ingredient : ${recipe.ingredients}"
                        th:text="${(ingredient.getAmount() + ' ' + ingredient.unitOfMeasure.getName() + ' - ' +
                        ingredient.getDescription())}">Ingredient 3</li>
                    </ul>
                </div>

            </div>

            <div class="card border-primary mb-3">
                <h6 class="card-header text-white bg-primary">Directions</h6>
                <div class="card-body">
                    <p th:text="${recipe.directions}">Lorem ipsum dolor sit amet.</p>
                </div>
            </div>

            <div class="card border-primary mb-3">
                <h6 class="card-header text-white bg-primary">Notes</h6>
                <div class="card-body">
                    <p th:text="${recipe.notes.recipeNotes}">Lorem ipsum dolor sit amet.</p>
                </div>
            </div>

        </div>
    </div>
</div>

</body>
</html>

